.header__container{
    background-color:rgb(120, 6, 227);
    
}
.header__box{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: 0;
}
.logo{
    width: 100;
    height: 35px;
    
    object-fit: cover;
}
.searchBar{
    display: flex;
}
.searchImg{
    width:20px;
}
.userIcon{
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}